<h1>Editing Scheduler</h1>

<%= render 'form' %>

<td><%= link_to 'Destroy Scheduler', @scheduler, method: :delete, data: { confirm: 'Are you sure?' } %></td>

<%= link_to 'Back to List of Schedulers', schedulers_path %>
