<h1>Editing Event</h1>

<%= render 'form' %>

<%= link_to 'Show', @event  %> | 
<%= link_to 'Destroy',  event_path(@event),
    data: { confirm: 'Are you sure?' }, method: :delete %> | 
<%= link_to 'Back', events_path %>
