// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	margin: 0;
	padding: 0;
}
span.day {
	background-color: lightblue;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 20px;
}
.date {
	min-height: 120px;
}
.cell {
	padding: 3px;
}
span.green {
	color: #39ac39;
	text-decoration: none;
}
span.blue {
	color: #000099;
}
span.pink {
	color: #ff66b3;
}
span.red {
	color: #cc3300;
}
span.black {
	color: #000000;
}
.title {
	font-weight: bold;
	padding-left: 3px;
}
a.link_Event:link, a.link_Event:visited, a.link_Event:active{
	text-decoration: none;
	color: #4d4d4d;
}
a.link_Event:hover
{
	background-color: lightblue;
	color: black;
	opacity: 30%;
}
